

<%= ajax_button :hello %>
<%= ajax_button :files %>
<%= ajax_button :downloads %>
<%= ajax_submit :search_all,:guid,'' %>
<%= ajax_submit :search_add,:q,'type search term here' %>
<%= ajax_submit :search_delete,:guid,'type GUID here' %>
<%#= ajax_submit :download_start,:magnet,'type MAGNET here' %>

<p><b>url</b>
<div id='request_div' class='request'>
</div>

<p><b>response</b>
<div id='response_div' class='response'> 
</div>

<!-- DO NOT DELETE!!
<table class="sample">
  <caption>Spoon Browse</caption>
  <tr>
  <#% fields.each do |field| %>
    <th><#%=field%></th>
  <#%end%>
  </tr>
  <#% @response.each do |hash| %> 
  <tr>
    <#% 
      fields.each do |field|
    %>
    <td><#%=hash[field]%></td>
    <#% end %>
  </tr>
  <#% end %>
</table>
-->

